# Local configuration and scripts
build.py
game_wiki.py
.env
.vscode/

# Python & PyInstaller artifacts
__pycache__/
build/
dist/
*.spec
*.pyc
temp_version.txt
*.log
*.exe

# Test artifacts
.coverage
pytest.ini
tests/
tests_runtime/